# THIS FILE IS COMMITTED TO GIT
# Do NOT add any secrets here!
# Make a .env file to override any environment variables locally

watch_file .env.default
dotenv_if_exists .env.default

watch_file .env
dotenv_if_exists .env